.login-container{
    height: 500px;
    width: 350px;
    opacity: 0.5;
}

.login-container:hover{
    height: 600px;
    width: 400px;
    opacity: 1;
    cursor: pointer;
}

.login-container:active{
    height: 600px;
    width: 400px;
    opacity: 1;
    cursor: pointer;
}


.login-page {
    background-image: url("../../../../public/imgs/backg.png");
    background-size: cover;
}