:root {
  --background: #e6e6e6;
  --foreground: white;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:"Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.home-container {
  max-width: 1200px;
}

.price-card-container {
  height: 600px;
}

.home-page {
  max-width: 1300px;
  background-color: white;
  height: 100%;
}

.home-h1 {
  color: rgb(51, 126, 212);
}

.home-p {
  color: black;
}

.home-img {
  border-radius: 20px;
  border-color: black;
  border-style:solid;
}